
/*====================MEDIA QUERY (medium devices)===========*/
@media screen and (max-width: 1300px) {
  .gallery-images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1280px) {
  .about-right {
    margin-left: 8rem;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .nav-container {
    justify-content: center;
  }

  .nav-links,
  .nav-socials {
    display: none;
  }

  header {
    background: none;
    padding-top: 5rem;
    height: fit-content;
  }

  .header-image-bg,
  .header-image-md {
    display: none;
  }

  .header-image-lg {
    filter: saturate(1) brightness(1);
    top: 0;
    right: 0;
  }

  .header-frames {
    display: none;
  }

  #about {
    margin-top: 0;
    padding-top: 10rem;
  }

  .about-image-bg,
  .about-image-md {
    display: none;
  }

  .about-image-lg {
    filter: saturate(1) brightness(1);
    left: 0;
    top: 0;
  }

  .about-left:hover .about-image-lg {
    border: none;
    box-shadow: none;
  }

  .about-right {
    margin-left: 3rem;
  }

  #gallery {
    margin-top: 0;
    padding-top: 10rem;
  }

  .gallery-head {
    text-align: center;
  }

  .gallery-head p {
    width: 100%;
  }

  #collage {
    margin-top: 0;
    padding-top: 10rem;
  }

  .collage-head {
    text-align: center;
  }

  .collage-head p {
    padding-left: 0;
  }
}

@media screen and (max-width: 978px) {
  .header-image-lg,
  .about-image-lg,
  .gallery-image {
    width: 20rem;
  }
}

/*====================MEDIA QUERY (small devices)===========*/
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  header {
    padding: 3rem;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
  }

  .header-container p {
    width: 100%;
  }

  .header-left {
    order: 1;
  }

  .header-image-lg {
    position: static;
    margin-bottom: 3rem;
  }

  .about-container {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .about-image-lg {
    position: static;
  }

  .about-right {
    text-align: center;
    margin-left: 0;
  }

  .about-right p {
    text-align: justify;
    width: 100%;
  }

  .gallery-images {
    grid-template-columns: 1fr;
  }

  .collage-images {
    gap: 0.5rem;
    animation: layout-change 20s linear infinite;
  }

  @keyframes layout-change {
    0% {
      grid-template-areas:
        "a1 a2 a3"
        "a4 a5 a"
        "ch ch a"
        "ch ch a";
    }

    25% {
      grid-template-areas:
        "ch ch a"
        "ch ch a"
        "a1 a2 a"
        "a3 a4 a5";
    }

    50% {
      grid-template-areas:
        "a a4 a5"
        "a a2 a3"
        "a ch ch"
        "a1 ch ch";
    }

    75% {
      grid-template-areas:
        "a1 a2 a3"
        "a a4 a5"
        "a ch ch"
        "a ch ch";
    }

    100% {
      grid-template-areas:
        "a3 a2 a1"
        "a4 a5 a"
        "ch ch a"
        "ch ch a";
    }
  }

  .collage-image {
    border-width: 0.5rem;
  }

  .collage-image img {
    filter: saturate(0) brightness(0.3);
    animation: color-change 20s linear infinite;
  }

  @keyframes color-change {
    to {
      filter: saturate(1) brightness(1);
    }
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 3rem;
  }
}
